
node_modules/
dist/
.env
.env.*
*env*

# Log files
src/utils/logs/debug/*
src/utils/logs/*

# Maven
target/
dist/

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.env.*/

src/config/config.json

