<!DOCTYPE html>
<html>

<head>
    <title>Verify Your Email Address</title>
</head>

<body>
    <h1>Welcome to <%= domainName %>!</h1>
    <p>Please verify your email address by clicking the link below:</p>
    <a href="<%= mainLink %>">Verify Email</a>
    <p>If you did not sign up for this account, please ignore this email.</p>
</body>

</html>